# ==========================================
# CODEOWNERS — Delivery App
# ==========================================

# Backend / API Python
/delivery-app/backend/ @Wendelljeronimo @Kaua-Alves @npwtech @joaodorast

# Frontend / React + Tailwind
/delivery-app/frontend/ @joaodorast @ibsonvital @npwtech

# Banco de dados
/delivery-app/database/ @jmrzd @idrispukke

# Testes e qualidade
/delivery-app/tests/ @Emily @SirMaath

# Documentação
/delivery-app/docs/ @Emily @SirMaath

# Configurações do GitHub e CI/CD
.github/ @idrispukke @jmrzd
