# ==========================================
# CODEOWNERS — Delivery App
# ==========================================

# Backend / API Python
/delivery-app/backend/ @Wendelljeronimo @Kaua-Alves

# Frontend / React + Tailwind
/delivery-app/frontend/ @joaodorast @ibsonvital

# Banco de dados
/delivery-app/database/ @jmrzd @idrispukke

# Testes e qualidade
/delivery-app/tests/ @Emily

# Documentação
/delivery-app/docs/ @Emily @SirMaath

# Configurações do GitHub e CI/CD
.github/ @idrispukke @jmrzd